<div class="nav2">
<a routerLink="/artistas/form" class="btn btn-success">Crear nuevo <i class="icon ion-md-person-add"></i></a>
</div>

<div class="cards">

<div class="cardArtista" *ngFor="let item of artistas">
  <div class="containerArtista">
<img [src]="item.imagen" class="imgArtista">
  </div>
  <div class="detailsArtista">
<h3>{{ item.nombre }}</h3>

<div>
<a routerLink="/artistas/form" class="btn btn-primary m-2">Ver  <i class="icon ion-md-eye"></i></a>
<button type="button" name="button"  [routerLink]="['/artistas/form', item.id]" class="btn btn-warning m-2">Editar <i class="icon ion-md-create"></i></button>
<button type="submit" class="btn btn-danger" (click)="eliminar(item)">Eliminar <i class="icon ion-md-trash"></i></button>
</div>

  </div>
  </div>



</div>
