<div class="d-grid gap-2 d-md-block">
<a routerLink="/artistas/form" class="btn btn-primary">Crear nuevo</a>
</div>

<div class="cards">

<div class="card card1" routerLink="/artistas">
  <div class="container">
<img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
  </div>
  <div class="details">
<h1>Artistas</h1>
  </div>
  </div>

  <div class="card card1" routerLink="/artistas">
    <div class="container">
  <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
    </div>
    <div class="details">
  <h1>Artistas</h1>
    </div>
    </div>
    <div class="card card1" routerLink="/artistas">
      <div class="container">
    <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
      </div>
      <div class="details">
    <h1>Artistas</h1>
      </div>
      </div>
      <div class="card card1" routerLink="/artistas">
        <div class="container">
      <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
        </div>
        <div class="details">
      <h1>Artistas</h1>
        </div>
        </div>
        <div class="card card1" routerLink="/artistas">
          <div class="container">
        <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
          </div>
          <div class="details">
        <h1>Artistas</h1>
          </div>
          </div>
          <div class="card card1" routerLink="/artistas">
            <div class="container">
          <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
            </div>
            <div class="details">
          <h1>Artistas</h1>
            </div>
            </div>
            <div class="card card1" routerLink="/artistas">
              <div class="container">
            <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
              </div>
              <div class="details">
            <h1>Artistas</h1>
              </div>
              </div>
              <div class="card card1" routerLink="/artistas">
                <div class="container">
              <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
                </div>
                <div class="details">
              <h1>Artistas</h1>
                </div>
                </div>


</div>
