<div class="nav2">
<a routerLink="/artistas/form" class="btn btn-success">Crear nuevo <i class="icon ion-md-person-add"></i></a>
</div>

<div class="cards">

<div class="cardArtista" routerLink="/artistas">
  <div class="containerArtista">
<img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
  </div>
  <div class="details">
<h1>Artistas</h1>
  </div>
  </div>

  <div class="cardArtista" routerLink="/artistas">
    <div class="containerArtista">
  <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
    </div>
    <div class="details">
  <h1>Artistas</h1>
    </div>
    </div>

    <div class="cardArtista" routerLink="/artistas">
      <div class="containerArtista">
    <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
      </div>
      <div class="details">
    <h1>Artistas</h1>
      </div>
      </div>

      <div class="cardArtista" routerLink="/artistas">
        <div class="containerArtista">
      <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
        </div>
        <div class="details">
      <h1>Artistas</h1>
        </div>
        </div>


        <div class="cardArtista" routerLink="/artistas">
          <div class="containerArtista">
        <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
          </div>
          <div class="details">
        <h1>Artistas</h1>
          </div>
          </div>

          <div class="cardArtista" routerLink="/artistas">
            <div class="containerArtista">
          <img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgArtista">
            </div>
            <div class="details">
          <h1>Artistas</h1>
            </div>
            </div>




</div>
