<div class="cards">

<div class="card card1" routerLink="/artistas">
  <div class="container">
<img src="assets/imagenes/MySoundtracksImagenes/imagen.jpg" class="imgIndex">
  </div>
  <div class="details">
<h1>Artistas</h1>
  </div>
  </div>

  <div class="card card2">
    <div class="container">
  <img src="assets/imagenes/MySoundtracksImagenes/canciones2.jpg" class="imgIndex">
    </div>
    <div class="details">
  <h1>Canciones</h1>
    </div>
    </div>


    <div class="card card3">
      <div class="container">
    <img src="assets/imagenes/MySoundtracksImagenes/album2.jpg" class="imgIndex">
      </div>
      <div class="details">
    <h1>Albums</h1>
      </div>
      </div>

</div>
