*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B002E;
  position: relative;
  padding-bottom: 3em;
  /* min-height: 100vh; */
  min-height: 100vh;
  /* place-items: center center; */
  text-align: center;
  /* border: 10px solid red; */
  display: grid;
}

footer {
  background-color: #430AFF;
  color: #eac102;
  padding: 1em 0;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}

nav {
  /* background-color: #280693; */
  background-image: linear-gradient(135deg, #280693, #261961);
}

.nav2 {
  padding: 16px;
}

.logo {
  border-radius: 80px;
}

.nav-link {
  font-size: 20px;
  color: white;
}

.nav-link:hover {
  color: #A18DE5;
}

.navbar-brand {
  color: #eac102;
  font-size: 22px;
  text-shadow: 0 0 1.5px black, 0 0 2.5px black;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  padding: 40px;
  grid-gap: 20px;
}

.card {
  /* background-color: #8378A4; */
  background-image: linear-gradient(135deg, #8378A4, #4421DF);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0,18);
  cursor: pointer;
}

.cardArtista {
  /* background-color: #8378A4; */
  background-image: linear-gradient(135deg, #8378A4, #4421DF);
  border-radius: 400px;
  box-shadow: 0 0 30px rgba(0,0,0,0,18);
  cursor: pointer;
  height: 240px;
  transition: 0.3s ease-in-out;
}

.cardArtista:hover {
  transform: translateY(-2.0%);
  box-shadow: 0 4rem 8rem #30CD3F;
  background-image: linear-gradient(135deg, #4421DF, #8378A4);
  border-radius: 80px;
  height: 380px;
}

.card:hover {
  transform: translateY(-2.0%);
  box-shadow: 0 4rem 8rem #02C6F7;
}

.container {
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}

.containerArtista {
  position: relative
  /* clip-path: polygon(0 0,100% 0,100% 85%,0 100%); */
}

.containerArtista:hover {
  height: 240px;
}

.imgIndex {
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
 }

 .imgArtista {
   width: 340px;
   height: 200px;
   /* display: block; */
   border-radius: 50%;
   transition: 0.3s ease-in-out;
  }

  .cardArtista:hover .imgArtista {
    /* display: block; */
    width: 435px;
    height: 244px;
    transition: 0.3s ease-in-out;
    border-radius: 80px;
  }

 .container:after {
   content: "";
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0px;
   border-radius: 20px 20px 0 0;
   opacity: 0.7;
 }

 .card1>.container:after {
   /* background-image: linear-gradient(135deg, #EFC845, #D06C2B); */
   background-image: linear-gradient(135deg, #B0D896, #30CD3F)
 }
 .card2>.container:after {
   /* background-image: linear-gradient(135deg, #B0D896, #30CD3F); */
   background-image: linear-gradient(135deg, #EFC845, #D06C2B);
 }

 .card3>.container:after {
   /* background-image: linear-gradient(135deg, #B0D896, #30CD3F); */
   background-image: linear-gradient(135deg, #F50CBD, #F50C17);
 }

 .cardArtista>.container:after {
   /* background-image: linear-gradient(135deg, #B0D896, #30CD3F); */
   background-image: linear-gradient(135deg, #F50CBD, #F50C17);
 }

 .details {
   padding: 20px 10px;
 }

 .detailsArtista {
   padding: 20px 10px;
   transition: 0.1s ease-in-out;
   visibility: hidden;
 }

.cardArtista:hover .detailsArtista {
   visibility: visible;
   transition-delay: 0.3s;
 }

 .details>h1 {
   color: #E2D09C;
   text-shadow: 0 0 3px black, 0 0 5px black;
   margin: 10px 0 15px 0;
 }

 .detailsArtista>h3 {
   color: #E2D09C;
 }

 .btn-success {
   /* background-color: #99E58D; */
   background-color: #AFF150;
   color: black;
   padding: 1px 8px 10px 8px;
   border-radius: 16px;
 }

 .btn-primary {
   background-color: #4CCCEF;
   color: black;
 }

 .btn-warning {
   background-color: #FFAE00;
   color: black;
 }

 .btn-danger {
   background-color: #FF005D;
   color: black;
 }

.ion-md-person-add {
  font-size: 24px;
}
